<p>container works!</p>
    <app-header 
        heading="Crowsong's Recipes"
        images="">
    </app-header>

    <app-sidebar heading="Favorite Recipes"></app-sidebar>

    <!------------------------------------
        Favorite Constants
    ------------------------------------->
    <app-sidebar heading="Conversions"></app-sidebar>

    <!------------------------------------
       Quicknotes etc
    ------------------------------------->
    <app-sidebar heading="Notes"></app-sidebar>

    <!------------------------------------
        Recipe List
    ------------------------------------->    
    <app-recipe-list></app-recipe-list>

     <!------------------------------------
        Recipe Detail
    ------------------------------------->    
    <app-recipe-detail></app-recipe-detail>

