<!-- Table markup-->
<table id="table">
    <!-- Table header -->
    <thead>
        <tr class=header-row>
            <td *ngFor="let item of header; index as i" scope="col" class="header-row" id="header-{{i}}">{{item}}</td>
        </tr>
    </thead>

    <!-- Table footer -->
    <tfoot>
        <tr>
            <td></td>
        </tr>
    </tfoot>

    <!-- Table body -->
    <tbody>
        <tr *ngFor="let item of experienceList">
            <td scope="col" class="data-row" id="company">{{item.company}}</td>
            <td scope="col" class="data-row" id="position">{{item.position}}</td>
            <td scope="col" class="data-row" id="fromDate">{{item.fromDate}}</td>
            <td scope="col" class="data-row" id="toDate">{{item.toDate}}</td>
            <td scope="col" class="data-row" id="details">Details</td>
        </tr>
    </tbody>
</table>

<!--
<ng-container *ngFor="let item of experience">
    <div class="company">{{item.company}}</div>
    <div class="position">{{item.position}}</div>
</ng-container>
-->