@import '../../../styles/partials/colors';

.page {
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 100%;
    grid-row-gap: 10vw;
};

.services{
    color: $rose_taupe;
    font-size: 4vw;
    font-family:cursive;
};

.service-0{
    margin: 3vw 0 0 0;
};

.service-1{
    padding: 3vw 0 0 4vw;
};

.service-2{
    padding: 3vw 0 0 8vw;
};

.banner{
    display: grid;
    font-size: 1vw;
    grid-template-columns: 20% 20% 20% 20% 20%;
    justify-items: center;
};

img{
    object-fit: cover;
    width: 100%;
    height: 100%;
};