.institution-name{
    font-size: 1.30vw;
    padding: 1rem 0 0 .5rem;
    text-decoration: underline;
};

.institution-accomplishment{
    padding: .75rem 0 0 2rem;
    font-size: 1.25vw;
}

.page-font{
    padding: .5rem 0 0 2.5rem;
    font-size: 1.20vw;
}