<ng-container *ngFor="let institution of institutions">
    <div class="institution-name">{{institution.name}}</div>
        <div class="page-font">* {{institution.degree}}</div>
        <div class="page-font">* {{institution.program}}</div>
        <div class="page-font">* {{institution.school}}</div>
 
    <div class="institution-accomplishment">{{institution.accomplishmentHeading}}</div>
        <div class="page-font" 
        *ngFor="let accomplishment of institution.accomplishments">
        * {{accomplishment}}
    </div>
</ng-container>
