.page{
    font-family: Arial, Helvetica, sans-serif;
    margin-top: .5vw;
    border: 1px solid black;
    border-radius: 5px;
};

table { 
    width: 10%; 
    border-collapse: collapse;
  };

td{ 
padding: 6px; 
border: 1px solid #ccc; 
text-align: left; 
};

input{
    height: 1.50vw;
    width: 1.50vw;
}

.header-row{
    font-size: 1.50vw;
};

.data-row{
    font-size: 1.75vw;
}