/* 
Generic Styling, for Desktops/Laptops 
*/
table { 
    width: 100%; 
    border-collapse: collapse; 
  };

td{ 
padding: 6px; 
border: 1px solid #ccc; 
text-align: left; 
};

.header-row{
    font-size: 1.50vw;
};

.data-row{
    font-size: 1.25vw;
}

  /* Zebra striping 
  tr:nth-of-type(odd) { 
    background: #eee; 
  }

  th { 
    background: #333; 
    color: white; 
    font-weight: bold; 
  }


.company{

    padding: 1rem 0 0 .5rem;
    text-decoration: underline;
};

.position{
    padding: .75rem 0 0 2rem;
    font-size: 1.25vw;
};

.summary{
    font-size: 1.30vw;
    padding-left: 1.00vw;
};

.fade-rule {
    height: 1px;
    background-color: #E6E6E6;
    width: 66.0em;
    margin: 0 auto;
    background-image: linear-gradient(rgb(91,79,79), #9d9d98, rgb(187,187,181));

};
*/