/* Colors */
$black: #000000;
$light-brown-half-opacity: rgba(160, 109, 55, 0.5);

// Background use black text
// Font color use black or white background
$turquoise: #40E0D0;
$gulf_stream: #78B4AE;

//
$maroon: #680000; // white font, white background
$dark_red: #8B0000;
$rose_taupe: #936060;