   
    <div class="content">
        <ng-container *ngFor="let section of introductionState.sections">
            <h1>{{section.heading}}</h1>
            <ng-container *ngFor="let paragraph of section.paragraphs">
                <p>{{paragraph}}</p>
            </ng-container>
        </ng-container>
        <!--
        <h1 class="top">Introduction</h1>
        <p>
            Pleased to introduce myself, my name is Michael McMahon, I am a software engineer with over 25 years of diverse experience within the
            software development industry.
        </p>
        <p>
            My diverse experience ranges from desktop to web development, from senior level software developer to setting up continuous development/
            continuous integration systems, to a junior architect.
        </p>
        <p>
            My passion has and always will be writing well tested and well architected code, using SOLID principles
            and best practices.
        </p>

        <h1>HVAC Technician</h1>
        <p>
            Prior to starting my software development career, I worked in the HVAC (heating, ventilation, air conditioning) industry,
            working on both residential and commercial HVAC systems.
        </p>

        <p>
            During the summer of 1995, I had a work related accident breaking my hip and elbow. This forced me to look into a career change as 
            it was uncertain what permanent affect on my body the injury would take.
        </p>

        <p>
            I am very happy to say I have recovered to just about 100% of any permanent affects on my body.
        </p>
        <p>
            I had a skilled, considerate and compassionate orthopeadic, which I am so grateful for.
            During my recovery time, my orthopeadic would always tell me "'Michael', lets turn this lemon into lemonade", 
            he encouraged my decision to go back to school and get a college degree.
            At the age of 40, I went back to school to get a degree in Software Engineering.
        </p>


        <h1>Back To School</h1>
        <p>
            To give you context, when I went back to school, Microsoft was rocking the advertising world with the Rolling Stones jamming out their hit
            song "Start Me Up". Microsoft and Windows 95 was putting the personal computer into the homes of average americans,
            showing how a computer can help improve their lives.
        </p>
        <p>
            At that time I had never turned a computer switch on, did know what DOS was, and had no idea on what opportunitites were available in which
            was to me a very unknown and somewhat mysterious industry.
        </p>
        <p>
            I chose to start at our local community college to get my toes in the water to see what I should study to work in this industry. However,
            looking back I remember thinking how this new version of Windows, Windows 95 was going to tranform this industry into somethig big.
        </p>
        <p>
            I graduated from Pikes Peak Community College in 1997 sharing the "Outstanding Student Award", with a very nice lady and friend of mine.
            The faculty could not choose between us, so they didn't.
        </p>
        <p>
            After graduation from Pikes Peak, I knew that I needed to have a higher degree of education in this industry.
            The industry was growing and more folks were entering the industry, an industry that already had many seasoned developers with an incredible
            wealth of knowledge, I knew to succeed in the new endeavor, I would need to continue my education to a full 4 year degree.
        </p>
        <p>
            My very next semester after graduating from PPCC, I was enrolled at the University of Colorado at Colorado Springs,
            now more affectionately known as "CU the Springs". It was the challenge of a lifetime going back and working on an education of that level,
            including in my last two years, working full-time and finishing up school part-time.
            I finally graduated from the University of Colorado with a Computer Science degree from the school of engineering.
        </p>
        <p>
            My road to recovery was complete, thanks to a list of wonderful souls who inspired me all the way starting with my orthopeadic and his
            inspiring words, "Michael, let's turn this lemon into lemonade".
        </p>

        <h1>C / C++ Unix Platform</h1>
        <p>
            I began my career in software development during the Y2K era of 2000, my first development position was with WorldCom in Colorado Springs, Colorado.
            I hired on in December, just one month before the dreaded Y2K bug. This was my first real full time position after serveral internships.
            I was still finishing up my degree at CU when I started this position.
        </p>
        <p>
            I worked on a Unix platform writing applications for the telecomunications industry in C and C++.
            With all of our fancy development paradigms and tools, that we have at our disposal today, I never felt more like a developer
            when working all day on the Unix command line or command line driven editors.
        </p>
        <p>
            Writing C or C++ code, creating homegrown makefiles for our build process, writing homegrown testing files,
            we used our keyboards far more often than our mouse.
        </p>
        <p>
            I was working for WorldCom when three events occurred that rocked our world, one was the attacks on the World Trade Center buildings in New York,
            the second was the accounting scandal that took WorldCom into bankruptcy and sent the CEO to prison.
            the third was what was known as the .COM bust that rocked the software development world,
            which among other circumstances catapulted the United States into the worst recession since the great depression.
        </p>
        <p>
            I was there on what we had referred to as black Friday, when approximately two-thirds of the WorldCom employees were laid off, including myself.
        </p>

        <h1>.NET Rocks</h1>
        <p>
            While I was at Worldcom, Microsoft's development platform .NET was taking off. Java was in a boom and this was Microsoft's attempt at a build once run anywhere paradigm. My next job was my entrance into the development environment I would spend the next nearly 20 years working on, the .NET platform.
        </p>
        

        <h1>Imagination Software Solutions</h1>
        As the software industry began to move on, after some difficult times, it seemed like opportunities to work more independently began to open up. I worked for several software contracting companies, and seemed that many companies were more inclined to go in that direction. I had an opportunity to work for a company that was looking for contractors for Comcast. It was a remote position, I was living in Colorado and the team was in Philadelphia. I had the option of hiring on as an employee, or work as a consultant. I chose to start an LLC called Imagination Software Solutions, and work remotely as member of the Help and Support team at Comcast, working on one of the most visible pages on the Comcast/xFinity site, the residential Help and Support page. While consulting for Comcast, I also worked on the Enterprise Messaging team setting up their CI/CD system.

        <h1>Getting MEAN</h1>
        I worked as a consultant for Comcast for 3 years and decided on a change, I first began to look into what opportunities were out there at the time, I found many job descriptions and speaking with hiring managers about this technology called Angular.

        <h1>Crowsong Software</h1>
-->
</div>

