<section class="grid-container">
  <div>
    <lib-image [src]="state.featherImagePath"></lib-image>
    <lib-image [src]="state.featherImagePath"></lib-image>
    <lib-image [src]="state.featherImagePath"></lib-image>
  </div>
    
    <div class="spacer"></div>
    <div class="content">
      <router-outlet></router-outlet>
    </div>
    <div class="spacer"></div>
    <div>
      <lib-image [src]="state.featherImagePath"></lib-image>
      <lib-image [src]="state.featherImagePath"></lib-image>
      <lib-image [src]="state.featherImagePath"></lib-image>
    </div>
</section>
