
<!--
  <section class="page">
  <app-header
      [title]="title"
      [titleStyles]="titleStyles">
  </app-header>
  
  <label for="check-all">Check All</label><input name="check-all" type="checkbox" (change)="onCheckboxChange($event)" />
  
  <form #selectSectionsForm="ngForm" (ngSubmit)="print(selectSectionsForm)">
    <table id="table">
      <thead></thead>
      <tfoot></tfoot>
      <tbody>
        <tr *ngFor="let item of sectionList">
          <td class="data-row">{{item.title}}</td>
          <td class="data-row"><input type="checkbox" [name]="item.name" [checked]="item.checked" ngModel (change)="onCheckboxChange($event)"/></td>
        </tr>
      </tbody>
    </table>
      <button  type="submit">Print</button>   
  </form>
</section>
-->
  

 
 
