<section class="color-pallette">
    
    <div class='title'>Green</div>
    <div class='turquoise-on-black'>Turqouise On Black</div>
    <div class='black-on-turquoise'>Black On Turqouise</div>
    <div class='gulf-stream-on-black'>Gulf Stream On Black</div>
    <div class='black-on-gulf-stream'>Black On Gulf Stream</div>
    
    <div class='title'>Red</div>
    <div class='maroon-on-black'>Maroon On Black</div>
    <div class='black-on-maroon'>Black On Maroon</div>
    <div class='black-on-dark-red'>Dark Red On Black</div>
    <div class='dark-red-on-black'>Black On Dark Red</div>
    <div class='black-on-rose-taupe'>Rose Taupe On Black</div>
    <div class='rose-taupe-on-black'>Black On Rose Taupe</div>
</section>
