<heading
   [email]="email"
   [name]="name"
   [subtitle]= "subtitle"
   [title]="title">
</heading>
<h1>Printing Resume</h1>

<form [formGroup]="form" (ngSubmit)="submit()">
             
   <div class="form-group">
      <!--<label for="website">Website:</label>-->
       <label for="heading">Heading:</label>
       <input id="heading" type="checkbox" [value]="" />
       <!--
       <div *ngFor="let web of websiteList">

         <label>
           <input type="checkbox" [value]="web.id" (change)="onCheckboxChange($event)" />
           {{web.name}}
         </label>
       </div>
       -->
   </div>
    
   <button class="btn btn-primary" type="submit" [disabled]="!form.valid">Submit</button>
</form>

