/* Fonts */
$arial-family: Arial, Helvetica, sans-serif;

$app-font-family: $arial-family; 
$app-font-size: 16px;

$app-background-color: $light-brown-half-opacity;
$app-font-color: $black;

/* Widths */

/* Heights */