<nav aria-label="Financial">
    <ul id="main-navigation">
        <li role="none">
            <a 
                role="menuitem"
                aria-haspopup="true"
                aria-expanded="false"
                href="#"
                tabindex="0">Calendar</a>
        </li>
        <li role="none">
            <a 
                role="menuitem"
                aria-haspopup="true"
                aria-expanded="false"
                href="#"
                tabindex="1">Financial</a>
        </li>
        <li role="none">
            <a 
                role="menuitem"
                aria-haspopup="true"
                aria-expanded="false"
                href="#"
                tabindex="2">Something Else</a>
        </li>
    </ul>
</nav>
